{% extends 'layout.njk' %}

{% block content %}
    
    <form method="POST" action="/students" class="card">
        <section class="image">
        </section>
        <section class="details">
            <h2>Preencha os campos</h2>


             {% include "students/fields.njk"%}
            {# <div class="item">
                <div>Professor</div>
                <div><input type="text" name="name" placeholder="Nome completo"></div>
            </div>
            <div class="item">
                <div>Data de nascimento</div>
                <div> <input type="date" name="birth"> </div>
            </div>
            <div class="item">
                <div>Escolaridade</div>
                <div><select name="graduation" id="select">
                    <option value="Ensino Médio Completo" selected>Ensino Médio Completo</option>
                    <option value="Ensino Superior Completo">Ensino Superior Completo</option>
                    <option value="Mestrado">Mestrado</option>
                    <option value="Doutorado">Doutorado</option>
                </select></div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div><input type="radio" name="classType" value="Presencial" checked><span>Presencial</span> 
                <input type="radio" name="classType" value="Distancia"><span>Distância</span></div>
            </div>
            <div class="item">
                <div>Matérias que ensina</div>
                <div> <input type="text" name="subjects" placeholder="Separe as materias por ','"></div>
            </div>
            <div class="item">
                <div>Foto</div>
                <div><input type="text" name="avatar_url" placeholder="HTTP://"></div>
            </div> #}
            
            <button type="submit">Enviar</button>
        
        </section>
    </form>

{% endblock content %}