{% extends 'layout.njk' %}

{% block content %}
    
    <form method="POST" action="/students" class="card">
        <section class="image">
        </section>
        <section class="details">
            <h2>Preencha os campos</h2>


             {% include "students/fields.njk"%}
          
            
            <button type="submit">Enviar</button>
        
        </section>
    </form>

{% endblock content %}