{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card table-container">
        <div class="header">
            <a href="/students/create"> Cadastrar novo aluno</a>
            <form action="/students?filter=name" method="GET">
                <input type="text" name="filter" placeholder="Aluno ou ano escolar" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <th>Nome completo</th>
                <th>Email</th>
                <th>Ano escolar</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>
                        <div>
                            <span class="avatar" style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </div>
                    </td>
                    <td> 
                        {{student.email}}
                    </td>
                    <td> 
                        {{student.grade}}
                    </td>
                    <td> <a href="/students/{{student.id}}"> Detalhar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}>
        </div>
    </div>

{% endblock content %}