<div class="item">
                <div>Professor</div>
                <div><input type="text" name="name" placeholder="Nome completo" value="{{teacher.name}}"></div>
            </div>
            <div class="item">
                <div>Data de nascimento</div>
                <div> <input type="date" name="birth_date" value="{{teacher.birth_date}}"> </div>
            </div>
            <div class="item">
                <div>Escolaridade</div>
                <div><select name="education_level" id="select">
                    <option value="Ensino Médio Completo" {% if teacher.education_level == "Ensino Médio Completo" %} selected {% endif %}>Ensino Médio Completo</option>
                    <option value="Ensino Superior Completo"{% if teacher.education_level == "Ensino Superior Completo" %} selected {% endif %}>Ensino Superior Completo</option>
                    <option value="Mestrado"{% if teacher.education_level == "Mestrado" %} selected {% endif %}>Mestrado</option>
                    <option value="Doutorado"{% if teacher.education_level == "Doutorado" %} selected {% endif %}>Doutorado</option>
                </select></div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div><input type="radio" name="class_type" value="Presencial" {% if teacher.class_type == "Presencial" %} checked
                {% endif %}><span>Presencial</span> 
                <input type="radio" name="class_type" value="Distancia" {% if teacher.class_type == "Distancia" %} checked
                {% endif %}><span>Distância</span></div>
            </div>
            <div class="item">
                <div>Matérias que ensina</div>
                <div> <input type="text" name="subjects_taught" placeholder="Separe as materias por ','" value="{{teacher.subjects_taught}}"></div>
            </div>
            <div class="item">
                <div>Foto</div>
                <div><input type="text" name="avatar_url" placeholder="HTTP://" value="{{teacher.avatar_url}}"></div>
            </div>