{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card table-container">
        <div class="header">
            <a href="/teachers/create"> Cadastrar novo professor</a>
            <form action="/teachers?filter=name" method="GET">
                <input type="text" name="filter" placeholder="Professor ou matéria" value="{{filter}}">
                <button type="submit">Filtrar</button>
            </form>
        </div>
        
        <table width="100%">
            <thead>
                <th>Nome completo</th>
                <th>Matérias</th>
                <th>Alunos</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        <div>
                            <span class="avatar" style="background-image: url({{teacher.avatar_url}})"></span>
                        {{teacher.name}}
                        </div>
                    </td>
                    <td> 
                        {% for subject in teacher.subjects_taught.split(",") %} 
                        <span>{{subject.toUpperCase()}}</span>
                        {% endfor %}</td>
                    <td>
                        {{teacher.total_students}}
                    </td>
                    <td> <a href="/teachers/{{teacher.id}}"> Detalhar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}>
        </div>
    </div>
        
{% endblock content %}