{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card table-container">
        <a href="/teachers/create"> Cadastrar novo professor</a>
        <table width="100%">
            <thead>
                <th>Nome completo</th>
                <th>Matérias</th>
                <th>Ação</th>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        <span class="avatar" style="background-image: url({{teacher.avatar_url}})"></span>
                        {{teacher.name}}
                    </td>
                    <td> 
                        {% for subject in teacher.subjects_taught.split(",") %} 
                        <span>{{subject.toUpperCase()}}</span>
                        {% endfor %}</td>
                    <td> <a href="/teachers/{{teacher.id}}"> Detalhar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}