{% extends 'layout.njk' %}

{% block content %}
    
    <form method="POST" action="/teachers" class="card">
        <section class="image" style="background-image: url({{teacher.avatar_url}})">
        </section>
        <section class="details">
            <h2>Professor #{{teacher.id}}</h2>
            <div class="item">
                <div>Professor</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Data de nascimento</div>
                <div> {{teacher.age}} </div>
            </div>
            <div class="item">
                <div>Escolaridade</div>
                <div>{{teacher.education_level}}</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div><input type="radio" name="class_type" value="Presencial" {% if teacher.class_type == "Presencial" %} checked
                {% endif %}><span>Presencial</span> 
                <input type="radio" name="class_type" value="Distancia" {% if teacher.class_type == "Distancia" %} checked
                {% endif %}><span>Distância</span></div>
            </div>
            <div class="item">
                <div>Matérias que ensina</div>
                <div> {% for subject in teacher.subjects_taught %}
                    <span>{{subject}}</span>
                {% endfor %}</div>
            </div>
            <div class="item">
                <div>Data do cadastro</div>
                <div>{{teacher.created_at}}</div>
            </div>
            
            <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a> 
            </form>
            <form method="POST" action="/teachers?_method=DELETE" >
                <input type="hidden" name="id" value="{{teacher.id}}">
                <button type="submit" class="deleteButton">Deletar</button>
            </form>
        </section>
    

{% endblock content %}