{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card">
        
        <div class="image">
        </div>
        <div class="details">
            <h2>Detalhes</h2>
            <div class="item">
                <div>Nome completo</div>
                <div>Mariana Fanaro</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>32</div>
            </div>
            <div class="item">
                <div>Escolaridade</div>
                <div>Superior Completo</div>
            </div>
            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div> <span>Português</span> <span>Redação</span></div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>01/01/2021</div>
            </div>
        </div>
    </div>

{% endblock content %}